__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.venv
venv/
ENV/
Backend/uploads/*
!Backend/uploads/.gitkeep
*.log
.git
.gitignore
Frontend/
node_modules/
*.yaml
*.yml
!secret.yaml

